* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.timeline{
  margin: 40px 0 0 0;
  width: 997px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  position: relative; /* for absolutely positioned child */
}

.timeline:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  left: 230px;
  background-color: #A0D2F3;
  z-index: -10;
}

.timeline > li .time{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.timeline > li .time span{
  display: block;
  text-align: right;

}

.timeline > li .time span:last-child{
  font-size: 30px;
  font-weight: bold;
  color: #2988C7;
}

/* first time #5DB6EE */
/* second time #2988C7 */

.timeline > li:nth-child(odd) .time span:last-child{
  color: #5DB6EE;
}


.timeline-icon{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #3899D7;
  border: 8px solid #A4D7F9;
  border-radius: 100%;
  color: #FFF;
  font-size: 25px;
  vertical-align: top;
}

.content{
  display: inline-block;
  position: relative; /* for children */
  width: 400px;
  padding: 10px 20px;
  margin: 0 0 15px 15px;
  background-color: #3899D7;
  border-radius: 5px;
  color: #FFFFFF;
}

.timeline > li:nth-child(odd) .content{
  background-color: #A4D7F9;
}

.timeline > li .content:hover{
  background-color: #A4D7F9;
}

.timeline > li:nth-child(odd) .content:hover{
  background-color: #3899D7;
}

.content h2{
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.timeline > li .content:after{
  content: "";
  position: absolute;
  right: 100%;
  height: 0;
	width: 0;
	border: solid transparent;
	pointer-events: none;
	border-right-color: #3899D7;
	border-width: 10px;
	top: 10px;
}

.timeline > li:nth-child(odd) .content:after{
  border-right-color: #A4D7F9;
}

.timeline > li:nth-child(odd) .content:hover:after{
  border-right-color: #3899D7;
}

.timeline > li .content:hover:after{
  border-right-color: #A4D7F9;
}
